

a {
    color:white;
    
    }

.texto{
    width:50%;
    padding: 1.2rem;
    flex-direction:column;
}
.btn-success {
    background-color: #8BC34A;
    border-color: #8BC34A;
}


.form{
    height: 100vh;
}

footer {
    background-color: #1E4F6D;
    color: white;
    
}

/* Esto agrega un margen inferior de tamaño 3 (1rem x 3 = 3rem) */
li {
    margin-bottom: 1rem; 
}

.card{
    border-color: rgb(59, 139, 214);
}

.card:hover {
    border-color: orange;
}

